<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/plugin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/index.css" rel="stylesheet">
</head>

<body>
<div style="position: absolute; top: 30px; left:30px; margin: auto">
    <img width="160px" height="90px" src="../static/img/logo-white.png">
</div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">首页</a></li>
                            <li><a href="#">登录</a></li>
                            <li><a href="#">关于</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">欢迎使用管理系统</h1>
                <p class="lead">你可以在系统中维护学习系统的基本资源，获得系统运行的概况，让你更懂你的用户；<br>You can maintain the basic resources of the learning system in the system, get an overview of the system's operation, and let you know your users better;</p>
                <p class="lead">* 管理用户信息</p>
                <p class="lead">* 管理学习资料</p>
                <p class="lead">* 管理题库</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">开始使用</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a
                            href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/plugin/jquery/jquery-3.4.1.min.js"><\/script>')</script>
<script src="../static/plugin/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
